:root {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.catPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imgContainer {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.getCat {
  background-color: #4caf50;
  width: 50px;
  height: 40px;
  border-radius: 5px;
}
